<app-nav></app-nav>
<div class="blank"></div>
<div class="container bg-light">
    <div>
        <h2> Modify Channel : </h2>
    </div>
    <form>
        <div class="col-sm-12  col-lg-6">
            <label> Name of channel </label>
            <input readonly type="text" [(ngModel)]="currentChannel.nameChannel" 
                name="nameChannel" class="form-control">
        </div>
        <div class="col-sm-12 col-lg-6">
            <label> Link </label>
            <input type="text" [(ngModel)]="currentChannel.link" 
                name="link" class="form-control">
        </div>
        <div class="col-sm-12 col-lg-6">
            <label> Type </label>
            <input type="text" [(ngModel)]="currentChannel.type" 
                name="type" class="form-control">
        </div>
        <div class="col-sm-12 col-lg-6">
            <label> Description </label>
            <input type="text" [(ngModel)]="currentChannel.description" 
                name="description" class="form-control">
        </div>
        
        <div class="col-sm-12 col-lg-6">
            <label> Country Name </label>
            <input readonly type="text" [(ngModel)]="country" 
                name="country" class="form-control">
        </div>

        <div class="mt-2">
            <button type="submit" (click)="onUpdateChannel()" class="btn btn-success disp">Edit</button>
            <button type="submit" class="btn btn-danger disp" routerLink="/manage">Cancel</button>
        </div>
    </form>
</div>