<app-nav></app-nav>
<div class="blank"></div>
<div class="container">
<div class="row">
<div class="col-lg-4 col-sm-12"></div>
<div class="col-lg-5 col-sm-12">
  <button class="btn btn-success col-lg-6 col-sm-12" type="button" routerLink="/addNewChannel">Add new channel</button>
</div>
</div>
<div class="blank"></div>  
  <div class="row">
    <div class="col-lg-4 col-sm-12" *ngFor="let count of tabChannel">
      <div class="card" style="width: 18rem;">
        <h4 class="text-center"> {{ count.nameCountry }}</h4>
        <h6 class="text-center">----------------------------------</h6>
        <div class="card-body" *ngFor="let channel of count.chan">
          <h5 class="card-title">{{ channel.nameChannel }}</h5>
          <p class="card-text">{{ channel.description }}</p>
          <a class="btn btn-primary disp" [routerLink]="['/updateChannel', channel.nameChannel]">Modify</a>
          <a class="btn btn-danger disp" (click)="onDeleteChannel(channel)" >Delete</a>
        </div>
      </div>
    </div>
  </div>

</div>