<div class="bg-dark" id="accordianId" role="tablist" aria-multiselectable="true">
    <button type="button" class="btn btn-outline-dark text-light norunder" data-toggle="collapse" data-parent="#accordianId" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
                    {{ nCount.nameCountry }} 
                </button>
    <div class="collapse in bg-light" role="tabpanel" id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card-body bg-light">
            <app-liste *ngFor="let channel of nCount.chan" [channel]="channel"></app-liste>
        </div>
    </div>
</div>